{% extends "base.html" %}
{% block content %}
<h2 class="page-title">Create A Task</h2>

<form class="create-form" method="POST" action="#">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    <label for="title" class="form-label">Task Title</label>
    {{ form.title(class_="form-control") }}
  </div>
  {% if form.title.errors %}
    <ul class="errors">
      {% for error in form.title.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="mb-3">
    <label for="date" class="form-label">Due Date</label>
    {{ form.date(class_="form-control") }}
  </div>
  {% if form.date.errors %}
    <ul class="errors">
      {% for error in form.date.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="mb-3">
    <label for="group" class="form-label">Group</label>
    {{ form.group(class_="form-control") }}
  </div>
  {% if form.group.errors %}
    <ul class="errors">
      {% for error in form.group.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    {{ form.description(class_="form-control") }}
  </div>
  {% if form.description.errors %}
    <ul class="errors">
      {% for error in form.description.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
