{% extends "no_auth_base.html" %}

{% block content %}
<h2 class="page-title">Login</h2>
<form method="POST" action="/" class="ls-form">
    <div class="mb-3">
        <div class="control">
            <input class="form-control" type="text" name="username" placeholder="Your Username" autofocus="">
        </div>
    </div> 

    <div class="mb-3">
        <div class="control">
            <input class="form-control" type="password" name="password" placeholder="Your Password">
        </div>
    </div>
    <div class="mb-3">
        <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
        </label>
    </div>
    <button class="btn btn-primary">Login</button>
</form>
{% endblock %}