{% extends "no_auth_base.html" %}

{% block content %}
<h2 class="page-title">Sign Up</h2>
<form method="POST" action="/signup" class="ls-form">
    <div class="mb-3">
        <div class="control">
            <input class="form-control" type="text" name="username" placeholder="Username" autofocus="">
        </div>
    </div>

    <div class="mb-3">
        <div class="control">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
    </div>

    <button class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}